<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>123</key>
	<string>tom</string>
	<key>212</key>
	<string>jim</string>
	<key>86</key>
	<string>sun</string>
	<key>250</key>
	<string>sing</string>
</dict>
</plist>
